<mat-card>
    <mat-card-title>
        <img mat-card-md-image  src='https://image.flaticon.com/icons/png/512/149/149071.png'>

        <!-- <img class='card-img' mat-card-image>  -->
    </mat-card-title>
    <mat-card-subtitle>
        {{userDetail?.name}}
        <mat-card-content>
            email: {{userDetail?.email}} 
            <br>
            phone number: {{userDetail?.phone}} 
            <!-- | Heart beat: heartBeat bpm  -->
            <mat-card-actions >
                <a href="home">
                <button mat-raised-button>Home</button>
                </a>
                
            </mat-card-actions>
         
        </mat-card-content>
    </mat-card-subtitle>
</mat-card>
