<div class="row">
          
    <div class="col-xs-10 col-sm-5 col-md-3">

        <div class="image-flip" ontouchstart="this.classList.toggle('hover'); "  >
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                            <h4 class="card-title">{{userDetail?.name}}</h4>
                            <p class="card-text"> 
                                email: {{userDetail?.email}} 
                                | phone number: {{userDetail?.phone}} 
                                | Heart beat: heartBeat bpm 
                                </p>
                            <!-- <a href="#" class="btn btn-primary btn-sm"> button1<i class="fa fa-plus"></i></a>
                            <a href="#" class="btn btn-primary btn-sm"> button2<i class="fa fa-plus"></i></a>
                            <a href="#" class="btn btn-primary btn-sm"> button3<i class="fa fa-plus"></i></a> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>