<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<mat-sidenav-container class="sidenav-container">
  <head>
  <title>Awesome Search Box</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
</head>

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <button mat-raised-button class='brand-btn'>
        <a routerLink="home" style="color: black;">
          Patiently
        </a>
      </button>
       <mat-nav-list>
      <a mat-list-item routerLink="/upcoming">Upcoming Patients 
        <h5><span class="badge badge-danger">+9</span></h5>
        </a>
      <a mat-list-item routerLink="/lab">Lab Result
        <h5>
          <span class="badge badge-danger">3</span>
        </h5>
      </a>

      <a mat-list-item routerLink="/follow"> Follow ups
        <h5>
          <span class="badge badge-danger">2</span>
        </h5>
      </a>

      <a mat-list-item routerLink="/message">Messages
        <h5>
          <span class="badge badge-danger">1</span>
        </h5>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="#FFFFFF">
      <div>
        <ul class="nav navbar-nav navbar-right">
              
          <img alt="Brand" class='aimg' src="https://image.flaticon.com/icons/png/512/149/149071.png">
        </ul>
      </div>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
  
     <span> </span>

     <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input 
            class="search_input" 
            type="text" 
            name="" 
            placeholder="Search..."
            [(ngModel)]="inputValue" 
            (keyup)="onInput($event)"
            (focus)="clear()" 
            [nzAutocomplete]="auto">
          <nz-autocomplete #auto>
              <nz-auto-option *ngIf="isSearch" [nzValue]="0">
                  <i nz-icon nzType="loading" class="loading-icon"></i>
                  <span> Searching ... </span> 
              </nz-auto-option>                                
              <nz-auto-option 
                  *ngFor="let result of results" 
                  [nzValue]="result.name"  >
                  <a routerLink="user/{{result.id}}">
                      <span>{{ result.name }}</span>                                     
                  </a>                                
              </nz-auto-option>                                                           
          </nz-autocomplete>             
          <a href="#" class="search_icon">
            <i class="fas fa-search"></i>
          </a>
        </div>
      </div>
    </div>

    </mat-toolbar>

    <!-- Add Content Here -->
    
    <router-outlet></router-outlet>
    
  </mat-sidenav-content>
</mat-sidenav-container>
