/* mat style */

.mat-card-header .mat-card-title{
    margin-bottom: 12px;
    display: block;
}

.mat-card-header-text{
    display: block;
    width: 100%;
    text-align: center;
}

.mat-card-image:first-child{margin: auto !important;}

.mat-card-header .mat-card-subtitle:not(:first-child){
    width: 100%;
    text-align: center;
    display: block;
    margin: 0;
}

.mat-card-actions{text-align: center;}
